@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes infiniteScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-infiniteScroll {
  animation: infiniteScroll 12s linear infinite;
}
